<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.1.xsd
           http://www.springframework.org/schema/context  
           http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<context:property-placeholder location="classpath:security.jdbc.properties" />

	<beans:bean id="userDetailsManager"
		class="org.springframework.security.provisioning.JdbcUserDetailsManager"
		p:dataSource-ref="securityDataSource" p:authenticationManager-ref="authenticationManager" />

	<beans:bean id="securityDataSource" class="org.apache.commons.dbcp.BasicDataSource"
		p:driverClassName="${jdbc.driverClassName}" p:url="${jdbc.url}"
		p:username="${jdbc.username}" p:password="${jdbc.password}" />

	<beans:bean id="passwordEncoder"
		class="org.springframework.security.crypto.password.StandardPasswordEncoder" />

	<authentication-manager alias="authenticationManager">
		<authentication-provider user-service-ref="userDetailsManager">
			<password-encoder ref="passwordEncoder" />
		</authentication-provider>
	</authentication-manager>

	<http auto-config='true'>
		<intercept-url pattern="/admin/**" access="ROLE_ADMIN" />
		<intercept-url pattern="/user/**" access="ROLE_USER" />
		<form-login login-page="/login.xhtml" default-target-url="/user/index.xhtml"
			authentication-failure-url="/login.xhtml?login_error=1"
			login-processing-url="/j_spring_security_check" />
		<logout logout-url="/logout.xhtml" logout-success-url="/login.xhtml" />
		<remember-me data-source-ref="securityDataSource" />
	</http>
</beans:beans>
